<div class="dashboard-body">
  @if (loading) {

    <app-skeleton></app-skeleton>

  } @else {
    <div class="drag-drop-container">
      <h2>{{ Status.TODO }}</h2>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todoTasks"
        [cdkDropListConnectedTo]="[doneList,onDoingList]"
        class="task-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of todoTasks; track item) {
          <app-task-card [task]="item" cdkDrag></app-task-card>
        }
        <app-create-card [status]="Status.TODO"></app-create-card>
      </div>
    </div>

    <div class="drag-drop-container">
      <h2>{{ Status.INPROGRESS }}</h2>

      <div
        cdkDropList
        #onDoingList="cdkDropList"
        [cdkDropListData]="inProgressTask"
        [cdkDropListConnectedTo]="[todoList,doneList]"
        class="task-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of inProgressTask; track item) {
          <app-task-card [task]="item" cdkDrag></app-task-card>
        }
        <app-create-card [status]="Status.INPROGRESS"></app-create-card>
      </div>
    </div>

    <div class="drag-drop-container">
      <h2>{{ Status.DONE }}</h2>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="doneTasks"
        [cdkDropListConnectedTo]="[todoList,onDoingList]"
        class="task-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of doneTasks; track item) {
          <app-task-card [task]="item" cdkDrag></app-task-card>
        }
        <app-create-card [status]="Status.DONE"></app-create-card>
      </div>
    </div>

  }
</div>
